appdirs==1.4.0
dj-database-url==0.4.1
Django==1.10.4
django-cors-headers==1.2.0
gunicorn==19.6.0
numpy==1.12.0
packaging==16.8
protobuf==3.1.0
psycopg2==2.6.2
pyparsing==2.1.10
six==1.10.0
tensorflow==0.12.0rc0
virtualenv==15.1.0
whitenoise==3.2
